<!DOCTYPE html>
<html lang="es">
  <head>
    <title>index</title>
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.11.3/themes/hot-sneaks/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <div class="ui-widget">
      <form>
        <label for="tags">Buscar</label>
        <input id="tags" />
      </form>
    </div>
    <h4>Carreras</h4>
    {% for carrera in carreras %}
    <ul>
      <li>
        <a href="{% url 'main:carrera' carrera.titulo %}"
          >{{ carrera.titulo }}</a
        >
      </li>
    </ul>
    {% endfor %}

    <h4>Universidades</h4>
    {% for universidad in universidades %}
    <ul>
      <li>
        <a href="{% url 'main:universidad' universidad.nombre %}"
          >{{ universidad.nombre }}</a
        >
      </li>
    </ul>
    {% endfor %}

    <h4>Orientaciones</h4>
    {% for orientacion in orientaciones %}
    <ul>
      <li>
        <a href="{% url 'main:orientacion' orientacion.orientacion %}"
          >{{ orientacion.orientacion }}</a
        >
      </li>
    </ul>
    {% endfor %}

    <h4>Especificas</h4>
    {% for espe in especificas %}
    <ul>
      <li>
        <a href="{% url 'main:especifica' espe %}">{{ espe }}</a>
      </li>
    </ul>
    {% endfor %}
    <script>
      //autocomplete

      $(function () {
        $("#tags").autocomplete({
          minLength: 3,
          source: "{% url 'main:busqueda' %}",
          select: function (event, ui) {
            url = window.location.href;
            console.log(ui);
            window.location = ui.item.url;
          },
        });
      });
    </script>
  </body>
</html>
